body {
    background-image: url("blackjackBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1{
    font-size: 40px;
      text-align: center;
      /* text-decoration: underline; */
      color: aliceblue;

  }

  #startGame{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between
  }

  #playerDIV{
    justify-content: flex-start;
  }

  #compDIV{
    justify-content: flex-end;
  }

#startGame button{
 font-weight: bold;
 position: absolute;
 background-color: #4CAF50;
 opacity: 0.5;
  border: 2px solid white;
  border-radius: 15px;
  color: white;
  padding: 5px 100px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    left: 40%;
}

#footer div{
    position:relative;
    margin-top:20%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-around;
    text-align: center;
}

#hitBtn{
    justify-content: space-between;
    border-radius: 15px;
    font-size: 16px;
    padding: 5px 100px;

}

#stayBtn{
    justify-content: space-between;
    border-radius: 15px;
    font-size: 16px;
    padding: 5px 100px;
}

#score{
    /* font-size: 40px; */
    font-weight: bold;
    color: aliceblue;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between
}

#scorePTag{
    justify-content: flex-start;
}

#compScorePTag{
    justify-content: flex-end;
}